@import "../styles/utils";

.my-panel {
    overflow: hidden;
    border-radius: 8px;
    transition: background-color 0.3s;
    cursor: pointer;

    &.active {
        background-color: $gray-0;

        .my-panel-title {
            font-weight: 500;
        }

        .my-panel-btn {
            transform: rotate(-180deg);
        }

        .my-panel-content {
            display: block;
        }
    }

    & + .my-panel {
        margin-top: 12px;
    }

    .my-panel-title {
        position: relative;
        padding: 12px 24px 12px 12px;
        border-bottom: 1px solid $gray-1;
    }

    .my-panel-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        right: 12px;
        bottom: 0;
        height: 100%;
        font-size: 20px;
        color: $gray-4;
        transition: transform 0.3s;
    }

    .my-panel-content {
        display: none;
        padding: 12px 12px;
    }
}
