@import "../../styles/utils";

.my-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
}

.my-input-inner {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid $gray-2;
    border-radius: 4px;

    &:focus-within {
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    }

    &.small {
        height: $field-height-s;
        padding: 0 8px;
        font-size: $field-font-size-s;

        .my-input-addon.before {
            padding-right: 8px;
        }

        .my-input-addon.after {
            padding-left: 8px;
        }
    }

    &.middle {
        height: $field-height-m;
        padding: 0 12px;
        font-size: $field-font-size-m;

        .my-input-addon.before {
            padding-right: 12px;
        }

        .my-input-addon.after {
            padding-left: 12px;
        }
    }

    &.large {
        height: $field-height-l;
        padding: 0 20px;
        font-size: $field-font-size-l;

        .my-input-addon.before {
            padding-right: 20px;
        }

        .my-input-addon.after {
            padding-left: 20px;
        }
    }

    &.round {
        border-radius: 60px;
    }

    &.success {
        border-color: $green;
    }

    &.error {
        border-color: $red;
    }

    & ~ .my-input-error {
        margin-top: 8px;
    }
}

.my-input-wrapper {
    &.error {
        border-color: $red;

        .my-input-inner {
            &:focus-within {
                box-shadow: 0 0 6px 2px rgba($red, 0.1);
            }
        }
    }
}

.my-input-addon {
    display: flex;
    align-items: center;
    height: 100%;

    &.before {
        order: -1;
    }
}

.my-input-label {
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
}

.my-input-error {
    font-size: 13px;
    color: $red;
}
