@import "../../styles/utils";

.my-tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    border: 1px solid $gray-2;
    color: $gray-4;

    &.gray {
        &.line {
            border-color: $gray-3;
            color: $gray-4;
        }

        &.fill {
            border-color: $gray-1;
            background-color: $gray-1;
            color: $gray-4;
        }
    }

    &.red {
        &.line {
            border-color: $red-light;
            color: $red;
        }

        &.fill {
            border-color: $red-lightest;
            background-color: $red-lightest;
            color: $red;
        }
    }

    &.orange {
        &.line {
            border-color: $orange-light;
            color: $orange;
        }

        &.fill {
            border-color: $orange-lightest;
            background-color: $orange-lightest;
            color: $orange;
        }
    }

    &.yellow {
        &.line {
            border-color: $yellow-light;
            color: $yellow;
        }

        &.fill {
            border-color: $yellow-lightest;
            background-color: $yellow-lightest;
            color: $yellow;
        }
    }

    &.green {
        &.line {
            border-color: $green-light;
            color: $green;
        }

        &.fill {
            border-color: $green-lightest;
            background-color: $green-lightest;
            color: $green;
        }
    }

    &.blue {
        &.line {
            border-color: $blue-light;
            color: $blue;
        }

        &.fill {
            border-color: $blue-lightest;
            background-color: $blue-lightest;
            color: $blue;
        }
    }

    &.purple {
        &.line {
            border-color: $purple-light;
            color: $purple;
        }

        &.fill {
            border-color: $purple-lightest;
            background-color: $purple-lightest;
            color: $purple;
        }
    }
}
