@import "../../styles/utils";

.my-message {
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px;
    border-radius: 6px;
    font-size: 13px;

    &.gray {
        border-color: $gray-1;
        background-color: $gray-1;
        color: $gray-4;
    }

    &.red {
        border-color: $red-lightest;
        background-color: $red-lightest;
        color: $red;
    }

    &.orange {
        border-color: $orange-lightest;
        background-color: $orange-lightest;
        color: $orange;
    }

    &.yellow {
        border-color: $yellow-lightest;
        background-color: $yellow-lightest;
        color: $yellow;
    }

    &.green {
        border-color: $green-lightest;
        background-color: $green-lightest;
        color: $green;
    }

    &.blue {
        border-color: $blue-lightest;
        background-color: $blue-lightest;
        color: $blue;
    }

    &.purple {
        border-color: $purple-lightest;
        background-color: $purple-lightest;
        color: $purple;
    }
}
