@import "../styles/utils";

.my-dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &:not(:focus-within) {
        .my-dropdown-list {
            display: none;
        }

        .my-dropdown-btn {
            margin-top: -3px;
            transform: rotate(-180deg);
        }
    }

    &.small {
        height: $field-height-s;
        font-size: $field-font-size-s;

        .my-dropdown-list-item {
            min-height: $field-height-s;
        }
    }

    &.middle {
        height: $field-height-m;
        font-size: $field-font-size-m;

        .my-dropdown-list-item {
            min-height: $field-height-m;
        }
    }

    &.large {
        height: $field-height-l;
        font-size: $field-font-size-l;

        .my-dropdown-list-item {
            min-height: $field-height-l;
        }
    }

    &.disabled {
        background-color: $gray-0;
        color: $gray-3;
        cursor: not-allowed;
    }

    &,
    .my-dropdown-list {
        border: 1px solid $gray-1;
        border-radius: 4px;
    }

    &,
    .my-dropdown-list-item {
        display: flex;
        align-items: center;
        padding: 0 8px;
    }

    .my-dropdown-title {
        display: flex;
        align-items: center;
        overflow: hidden;
        flex: 1;
        height: 100%;
        cursor: pointer;
    }

    .my-dropdown-btn {
        margin-left: 8px;
        transition: all 0.3s;
        color: $gray-4;
    }

    .my-dropdown-list {
        overflow: hidden;
        position: absolute;
        top: calc(100% + 4px);
        left: 0;
        right: 0;
        margin-block-start: 0;
        padding-inline-start: 0;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.05);
    }

    .my-dropdown-list-item {
        display: flex;
        flex-wrap: wrap;
        cursor: pointer;

        &:not(.disabled) {
            &:hover {
                background-color: $gray-0;
            }
        }

        &.disabled {
            background-color: $gray-0;
            color: $gray-3;
            cursor: not-allowed;
        }
    }
}
