@import "../styles/utils";

.my-checkbox {
    display: flex;
    align-items: center;
    line-height: 1.4;

    input[type="checkbox"] {
        &:checked {
            & + .my-checkbox-mark {
                border-color: $active-color;
                color: $active-color;
            }
        }

        &:disabled {
            & + .my-checkbox-mark {
                color: $gray-2;
            }
        }
    }

    .my-checkbox-mark {
        display: inline-flex;
        position: relative;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        border: 1px solid $gray-1;
        border-radius: 50%;
        color: transparent;
        transition: background-color 0.3s;
    }
}
