@import "../styles/utils";

.my-upload {
    border-radius: 6px;

    .my-upload-box {
        display: block;
        padding: 12px;
        border: 1px dashed $gray-1;
        border-radius: 6px;
        text-align: center;
        background-color: $gray-0;
        cursor: pointer;
        
        &:hover {
            border-color: $active-color;
            background-color: $active-light-color;
        }

        p {
            margin: 0 0 8px;
            font-weight: 500;
        }

        span {
            display: block;
            color: $gray-4;
        }
    }

    .my-upload-list {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        margin-block-end: 0;
        padding-inline-start: 0;
        gap: 4px;
        list-style: none;
    }

    .my-upload-list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        padding: 4px 0;

        &:hover {
            background-color: $gray-0;
        }

        &.error {
            color: red;
        }

        &.removed {
            text-decoration: line-through;
            color: $gray-3;
        }
    }

    .my-upload-file-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .my-upload-delete-btn {
        border: none;
        background-color: transparent;
        color: $gray-3;
        cursor: pointer;

        &:hover {
            color: $gray-5;
        }
    }
}
