@import "../styles/utils";

.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    color: $text-color;
    cursor: pointer;

    > div {
        position: relative;
        z-index: 1;
    }

    &:disabled {
        cursor: default;
    }

    &.primary {
        border-color: $main-color;
        background-color: $main-color;
        color: $white;

        &:not(:disabled):hover {
            border-color: $active-color;
            background-color: $active-color;
        }

        &:disabled {
            background-color: $gray-0;
            border-color: $gray-0;
            color: $gray-3;
        }
    }

    &.secondary {
        border-color: $main-color;
        color: $main-color;

        &:not(:disabled):hover {
            border-color: $main-color;
            background-color: $main-color;
            color: $white;
        }

        &:disabled {
            border-color: $inactive-color;
            color: $gray-3;
        }
    }

    &.tertiary {
        border-color: $gray-2;

        &:not(:disabled):hover {
            border-color: $main-color;
            color: $main-color;
        }

        &:disabled {
            border-color: $inactive-color;
        }
    }

    &.dashed {
        border-style: dashed;

        &:not(:disabled):hover {
            border-color: $active-color;
            color: $active-color;
        }

        &:disabled {
            color: $gray-3;
        }
    }

    &.link {
        border-color: transparent;
        color: $main-color;

        &:not(:disabled):hover {
            color: $active-color;
        }

        &:disabled {
            color: $gray-3;
        }
    }

    &.small {
        height: 36px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: $font-weight-medium;
    }

    &.middle {
        height: 42px;
        padding: 0 22px;
        font-size: 14px;
        font-weight: $font-weight-bold;
    }

    &.large {
        height: 50px;
        padding: 0 30px;
        font-size: 18px;
        font-weight: $font-weight-bold;
    }
}
