@import "../styles/utils";

.my-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: transparent;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        border-color: $main-color;
        color: $main-color;
    }

    > div {
        position: relative;
        z-index: 1;
    }

    &.primary {
        border-color: $main-color;
        background-color: $main-color;
        color: $white;

        &:hover {
            border-color: $active-color;
            background-color: $active-color;
        }
    }

    &.secondary {
        border-color: $main-color;
        color: $main-color;

        &:hover {
            border-color: $main-color;
            background-color: $main-color;
            color: $white;

            &:before {
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
        }

        &:before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 0;
            border-radius: 50%;
            background-color: $main-color;
            transform: translate(-50%, -50%);
            transition: width 0.2s, height 0.2s, border-radius 0.3s;
            box-sizing: border-box;
        }
    }

    &.dashed {
        border-style: dashed;
    }

    &.text {
        border-color: transparent;

        &:hover {
            color: $main-color;
        }
    }

    &.link {
        border-color: transparent;
        color: $main-color;

        &:hover {
            color: $active-color;
        }
    }

    &.small {
        height: 36px;
        padding: 0 16px;
        font-size: 14px;
        font-weight: $font-weight-medium;
    }

    &.middle {
        height: 42px;
        padding: 0 22px;
        font-size: 14px;
        font-weight: $font-weight-bold;
    }

    &.large {
        height: 50px;
        padding: 0 30px;
        font-size: 18px;
        font-weight: $font-weight-bold;
    }

    &:disabled {
        background-color: $inactive-color;
        border-color: $inactive-color;
        color: $text-color;
        cursor: default;
    }
}
