@import "../styles/utils";

.my-segmented {
    padding: 4px;
    border-radius: 60px;
    background-color: $gray-1;

    .my-segmented-inner {
        position: relative;
    }

    .my-segmented-items {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 0;
        margin: 0;
        padding-inline-start: 0;
    }

    .my-segmented-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        padding: 12px 12px;
        text-align: center;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .my-segmented-background {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        border-radius: 60px;
        background-color: $white;
        box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.05);
        transition: transform 0.3s;
    }
}
