@import "../../styles/utils";

.my-radio {
    display: inline-flex;
    flex-shrink: 0;
    line-height: 1.4;

    &.disabled {
        color: $inactive-text-color;
    }

    &:not(.disabled) {
        &:hover {
            .my-radio-target {
                border-color: $active-color;
            }
        }
    }

    .my-radio-target {
        display: inline-block;
        position: relative;
        overflow: hidden;
        width: 20px;
        height: 20px;
        margin-right: 4px;
        border-radius: 50%;
        border: 1px solid $gray-2;
    }

    input[type="radio"] {
        display: none;

        &:checked {
            & ~ .my-radio-target-circle {
                background-color: $active-color;

                &:after {
                    background-color: $white;
                }
            }
        }

        &:disabled {
            & ~ .my-radio-target-circle {
                background-color: $inactive-color;
            }

            &:checked {
                & ~ .my-radio-target-circle {
                    &:after {
                        background-color: $gray-3;
                    }
                }
            }
        }
    }

    .my-radio-target-circle {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 50%;
        transition: background-color 0.3s;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 50%;
            transform: scale(0.4);
        }
    }
}

.my-radio-group {
    display: flex;

    &.horizontal {
        .my-radio + .my-radio {
            margin-left: 8px;
        }
    }

    &.vertical {
        flex-direction: column;

        .my-radio + .my-radio {
            margin-top: 8px;
        }
    }
}
