@import "../../styles/utils";

.my-toast {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 12px;
    border-radius: 4px;
    background-color: black;
    color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
}

.my-toast-overlay {
    position: fixed;
    // top: 0,
    left: 0;
    // right: 0,
    bottom: 50;
    width: "100%";
    // height: '100%',
    z-index: 9999;
}

.my-toast-status {
    display: inline-flex;
    margin-right: 4px;
    font-size: 20px;
    vertical-align: middle;

    &.success {
        color: $green;
    }

    &.error {
        color: $red;
    }
}
