@import "../styles/utils";

.my-alert {
    width: 400px;
    border-radius: 10px;
    background-color: $white;
}

.my-alert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 16px;
    font-size: 20px;
    font-weight: 700;

    & + .my-alert-content {
        padding-top: 10px;
    }
}

.my-alert-content {
    padding: 20px 16px;
}

.my-alert-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 16px;
    gap: 12px;
}

.my-alert-close-btn {
    padding: 4px;
    border: none;
    font-size: 18px;
    background-color: transparent;
}
